# EditorConfig helps maintain consistent coding styles
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

[*.{cs,csproj,sln}]
end_of_line = crlf

[*.{json,md,yml}]
end_of_line = lf
